## Cohort Analysis on Retail Sales Data

In [9]:
import pandas as pd
import datetime as dt

In [20]:
# read data
online = pd.read_csv("/Users/alliewu/Desktop/DS_Project/Customer_Segmentation/data/cohort_analysis/online.csv")

### First Step: Define the cohort
Here, I'm creating daily cohort based on the day each customer has made their first purchase.

1. parse day from datetime for each transaction
2. create new column "InvoiceDay"
3. group by "CustomerID" and get the minimum invoice day to save in "CohortIndex"

In [21]:
online.head(2)

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,416792,572558,22745,POPPY'S PLAYHOUSE BEDROOM,6,2011-10-25 08:26:00,2.10,14286,United Kingdom
1,482904,577485,23196,VINTAGE LEAF MAGNETIC NOTEPAD,1,2011-11-20 11:56:00,1.45,16360,United Kingdom

In [22]:
# Define a function that will parse the date
def get_day(x): return dt.datetime(x.year, x.month, x.day) 

# Create InvoiceDay column
online['InvoiceDay'] = online['InvoiceDate'].apply(get_day)

AttributeError: 'str' object has no attribute 'year'